<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant[:attributes][:name]%>
  <br>
  <strong>Items:</strong>
  <% @items.each do |item| %>
    <p><%= item[:attributes][:name] %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
